.slide-container {
  height: 900px;
  width: 900px;
  }

  .slick-prev, .slick-slide{
    display: none !important;
  }
  

  .media-container {
    position: relative;
    height: 900px;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .media {
    position: absolute;
    top: 0;
    left: 0;
    height: 900px !important;
    width: 900px !important;
    transition: transform 0.5s ease-in-out;
  }
  
  /* .media.active {
    display: block;
  }
   */

  .media img,
  .media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-previous {
    transform: translateX(-100%);
  }
  
  .slide-active {
    transform: translateX(0);
  }
  
  .slide-next {
    transform: translateX(100%);
  }
  